@model List<PlattSampleApp.Models.ResidentSummary>

@{
    ViewBag.Title = "Planet Residents";
}

<!DOCTYPE html>

<html>
<head>
    <title>Residents of Planet Naboo</title>
</head>
<body>
    <div>
        <h3>Residents of Planet Naboo</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Gender</td>
                    <td>Height</td>
                    <td>Weight</td>
                    <td>Hair Color</td>
                    <td>Eye Color</td>
                    <td>Skin Color</td>
                </tr>
            </thead>
            <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <td>@person.Name</td>
                    <td>@person.Gender</td>
                    <td>@person.FormattedHeight</td>
                    <td>@person.FormattedWeight</td>
                    <td>@person.HairColor</td>
                    <td>@person.EyeColor</td>
                    <td>@person.SkinColor</td>
                </tr>
            }
</div>
</body>
</html>